# Vistas #

## ¿Qué es una vista? ##

Es una tabla virtual basada en el resultado de una sentencia SQL. Contiene filas y columnas como una tabla real, las columnas de una vista son columnas de una o mas tablas reales en la base de datos. Puedes agregar funciones, expresiones, cláusulas WHERE y JOIN a una vista y presentar los datos como si vinieran de una sola tabla.
Visto de otra forma, es una instrucción SELECT con nombre que produce dinámicamente un conjunto de resultados sobre los que se puede seguir operando. Realmente no guarda datos, a menos que sea una vista indexada (materializada).

In [1]:
use Northwind;
go 

 
CREATE VIEW EmpleadosCiudades
    AS
    Select 
     Concat(Lastname, ', ', Firstname) AS Empleado,  
     City as Ciudad
     FROM employees

GO

SELECT * from EmpleadosCiudades

Empleado,Ciudad
"Davolio, Nancy",Seattle
"Fuller, Andrew",Tacoma
"Leverling, Janet",Kirkland
"Peacock, Margaret",Redmond
"Buchanan, Steven",London
"Suyama, Michael",London
"King, Robert",London
"Callahan, Laura",Seattle
"Dodsworth, Anne",London


## Ejemplos típicos de vistas ##
### a) Un subconjunto de renglones o columnas de una tabla base ###

In [2]:


CREATE VIEW EmpleadosLondon
    AS
    Select 
     Concat(Lastname, ', ', Firstname) AS Empleado,  
     City as Ciudad
     FROM employees
     WHERE City = 'London'

GO


Select * from EmpleadosLondon

Empleado,Ciudad
"Buchanan, Steven",London
"Suyama, Michael",London
"King, Robert",London
"Dodsworth, Anne",London

### b) La Unión de dos o mas tablas base ###

In [ ]:
CREATE VIEW Contactos
AS
    SELECT Concat(Lastname, ', ', Firstname) as Nombre, 
    HomePhone AS Teléfono, 'E' as Tipo
    FROM Employees 
    UNION
        SELECT ContactName, Phone, 'S' from Suppliers
    UNION
        SELECT ContactName, Phone, 'C' from Customers

GO

SELECT * FROM Contactos

### c) Un join de dos o mas tablas base

In [ ]:
CREATE VIEW ProductCategory
AS
SELECT 
    ProductName as Product, 
    UnitPrice, CategoryName as Category 
    FROM Products p
    JOIN Categories c ON c.CategoryID = p.CategoryID

GO

SELECT * FROM ProductCategory

### d) La sumatoria de los datos de una tabla base

In [ ]:
CREATE VIEW VentasMensuales
AS 

SELECT 
    Year(OrderDate) as Año, 
    Month(OrderDate) as Mes, 
    Sum( Quantity * UnitPrice * (1-Discount)) AS Ventas 
    FROM [Order Details] od
    JOIN Orders o ON o.OrderID = od.OrderID
    GROUP BY Year(OrderDate), Month(OrderDate) 

GO

## Información sobre una Vista

Para obtener la definición de una vista, lo hacemos igual que para cualquier otro objeto de la base de datos, con sp_helptext

In [3]:
exec sp_helptext 'VentasMensuales'

: Msg 15009, Level 16, State 1, Procedure sp_helptext, Line 54
The object 'VentasMensuales' does not exist in database 'Northwind' or is invalid for this operation.

In [ ]:

create view Cumpleaños AS
    SELECT  
        Format(Birthdate, 'm') as Cumpleaños, 
        Concat(Lastname, ', ', Firstname) as Empleado 
        from employees  
go 

select * from Cumpleaños

Si no deseamos que se pueda ver el código con el cual fue creada la vista agregamos la opción WITH ENCRYPTION

In [ ]:
DROP VIEW VentasMensuales
go

CREATE VIEW VentasMensuales
    WITH encryption
AS 

SELECT 
    Year(OrderDate) as Año, 
    Month(OrderDate) as Mes, 
    Sum( Quantity * UnitPrice * (1-Discount)) AS Ventas 
    FROM [Order Details] od
    JOIN Orders o ON o.OrderID = od.OrderID
    GROUP BY Year(OrderDate), Month(OrderDate) 

GO

exec sp_helptext 'VentasMensuales'