# Consultas de agregación #


Las consutas de agregación trabajan con grupos de filas sobre las cuales se aplica una función de agregación

<table>
<tr><td>AVG(expr)<td> Devuelve el promedio de todos los valores, o sólo de los valores DISTINCT. Se ignoran los nulos.
<tr><td>COUNT(expr)<td> Devuelve el numero de valores no nulos en la expresión. Se ignoran los valores nulos. Puede utilizarse en columnas numéricas y no numéricas.  Puede utilizarse con DISTINCT.
<tr><td>COUNT(*)<td> Se cuentan todas las filas incluso las que tienen valores nulos. No puede utilizarse con DISTINCT.
<tr><td>MAX(expr)<td> Devuelve el valor máximo de la expresión. Puede utilizarse con columnas numéricas, de tipo carácter y datetime.
<tr><td>MIN(expr)<td> Devuelve el valor mínimo en la expresión. MIN, puede utilizarse con columnas numéricas, de tipo carácter y datetime, pero no con columnas tipo bit. Con columnas tipo carácter, busca el valor mínimo en la secuencia. MIN, ignora los nulos.
<tr><td>SUM(expr)<td> Devuelve la suma de todos los valores,  o solo de los valores DISTINCT. Se ignoran los nulos y sólo puede utilizarse en columnas numéricas.

In [1]:
use northwind

## Paso 1: Promedio ## 
Para obtener el promedio de un grupo utilizamos la función  `AVG()`. 
<p>Recupere el precio promedio de los productos

In [2]:
select  AVG(UnitPrice) as PrecioPromedio
    from products

PrecioPromedio
28.4962

Si queremos el precio promedio de los productos dentro de cada categoría usamos la cláusula `GROUP BY`

In [3]:
select  CategoryID, AVG(UnitPrice) as PrecioPromedio
    from products
    GROUP by CategoryID

CategoryID,PrecioPromedio
1,37.9791
2,23.0625
3,25.1600
4,28.7300
5,20.2500
6,46.2914
7,32.3700
8,20.6825

## Paso 2: Contando ##
Determine cuántos productos se manejan por categoría

In [9]:
select CategoryID, COUNT(productID) 
    from products
    GROUP by CategoryID

CategoryID,(No column name)
1,12
2,12
3,13
4,10
5,7
6,7
7,5
8,12

## Paso 3: Mayor ##

Obtenga el precio mas bajo y mas alto que se maneja

In [6]:
SELECT MAX(UnitPrice) as Maximo,MIN(UnitPrice) as Minimo FROM Products

Maximo,Minimo
263.5000,0.0000

## Paso 4: Suma ##
Obtenga el importe total de fletes del día 10 de junio de 1997

In [13]:
SELECT OrderDate,SUM(Freight) as Importe_Total
    FROM orders where OrderDate='19970610'
    GROUP BY OrderDate

OrderDate,Importe_Total
1997-06-10 00:00:00.000,74.1800

## Paso 5 ##
Obtenga el total de ventas del día 10 de junio de 1997

In [31]:
SELECT SUM((OD.UnitPrice* OD.Quantity)*(1-OD.Discount)) as [Total Ventas] FROM Orders Ord
INNER JOIN [Order Details Extended] OD ON OD.OrderID = Ord.OrderID
WHERE Ord.OrderDate='19970610'

Total Ventas
2199.04998779297

## Paso 6 ##
Obtenga el total de ventas por producto del mes de junio de 1997

In [46]:
SELECT P.ProductName,SUM((OD.UnitPrice*Od.Quantity)*(1-OD.Discount))as Total FROM [Order Details] OD
INNER JOIN Products P ON P.ProductID = OD.ProductID
INNER JOIN Orders O ON O.OrderID = OD.OrderID

WHERE MONTH(OrderDate)='06' AND YEAR(OrderDate)='1997'

GROUP BY  P.ProductName

ProductName,Total
Alice Mutton,1294.79998779297
Boston Crab Meat,956.799999237061
Camembert Pierrot,693.600036621094
Carnarvon Tigers,956.25
Chai,180
Chartreuse verte,180
Filo Mix,700
Geitost,80
Genen Shouyu,155
Gnocchi di nonna Alice,3382
Gorgonzola Telino,1865
Guaraná Fantástica,166.050003051758
Gudbrandsdalsost,306
Gula Malacca,602.950012207031
Ikura,155
Inlagd Sill,475
Jack's New England Clam Chowder,192.517501831055
Lakkalikööri,1152
Louisiana Fiery Hot Pepper Sauce,599.924987792969
Manjimup Dried Apples,4717
Mascarpone Fabioli,288
Mozzarella di Giovanni,1879.20001220703
Nord-Ost Matjeshering,517.799987792969
Original Frankfurter grüne Soße,234
Pâté chinois,980.399993896484
Pavlova,188.459991455078
Perth Pasties,1410.40002441406
Queso Cabrales,924
Raclette Courdavault,2420
Ravioli Angelo,195
Rhönbräu Klosterbier,887.375
Röd Kaviar,45
Sasquatch Ale,560
Singaporean Hokkien Fried Mee,333.200012207031
Steeleye Stout,360
Tarte au sucre,1491.32498168945
Teatime Chocolate Biscuits,257.600006103516
Thüringer Rostbratwurst,1237.90002441406
Tofu,1106.70001220703
Vegie-spread,263.399993896484
Wimmers gute Semmelknödel,1735.64996337891
Zaanse koeken,237.5

## Paso 7 ##
Obtenga el importe de ventas por categoría por mes del año 1997

## Paso 8##
Obtenga el producto mas caro

: Msg 156, Level 15, State 1, Line 3
Incorrect syntax near the keyword 'SELECT'.

: Msg 102, Level 15, State 1, Line 3
Incorrect syntax near ')'.