# Ejercicios de sub consultas #
Resuelva las siguientes necesidades de información de la base de datos Northwind usando subconsultas
## 1 ##
Obtenga el nombre de los vendedores que durante el mes de junio de 1997 vendieron abajo del vendedor promedio

In [2]:
Use NORTHWIND

In [10]:
--Hecho--
WITH VtasXEmp(EmpId,VtasJun97)
as(
SELECT EmployeeID, SUM((UnitPrice*Quantity)*(1-Discount)) from [Order Details] od
JOIN ORDERS o on o.OrderID=od.OrderID
WHERE YEAR(OrderDate)=1997 AND Month(OrderDate)=6
GROUP BY EmployeeID
)

SELECT V.EmpId as Empleado,E.LASTNAME as Apellido, E.FIRSTNAme as Nombre, V.VtasJun97 as [Ventas Jun 1997] FROM Employees E
INNER JOIN VtasXEmp V ON V.EmpId = E.EmployeeID
WHERE VtasJun97 < (SELECT AVG(VtasJun97) FROM VtasXEmp);

Empleado,Apellido,Nombre,Ventas Jun 1997
5,Buchanan,Steven,3037.39999389648
6,Suyama,Michael,3464.81000518799
7,King,Robert,2082
8,Callahan,Laura,2262.91247558594
9,Dodsworth,Anne,3482.5

## 2 ##
Obtenga el nombre de los vendedores que hicieron ordenes el día 11 de marzo de 1998

In [2]:
--Hecho--
SELECT EmployeeID AS [Id Empleado], CONCAT(LastName,' ',FirstName) AS Nombre FROM Employees
WHERE EmployeeID IN (SELECT EmployeeID FROM Orders WHERE OrderDate='19980311')

Id Empleado,Nombre
4,Peacock Margaret
7,King Robert
8,Callahan Laura
9,Dodsworth Anne

## 3 ## 
Obtenga el nombre de los vendedores que hicieron ordenes el día que se realizaron mas ventas

In [8]:
--Hecho--
WITH VentasDiarias(dia,ventas)
as ( 
    select OrderDate,COUNT(*) from orders 
    group by orderDate
)


SELECT EmployeeID as Empleado,LastName as Apellido,FirstName as Nombre from Employees WHERE EmployeeID 
    in (SELECT EmployeeID from Orders where OrderDate 
        in (SELECT dia from VentasDiarias where ventas = (Select MAX(ventas) from VentasDiarias)));

Empleado,Apellido,Nombre
1,Davolio,Nancy
2,Fuller,Andrew
3,Leverling,Janet
4,Peacock,Margaret

## 4 ##
Obtenga el nombre de los vendedores que viven en la misma ciudad de al menos uno de sus clientes ( es su cliente si le ha vendido al menos una vez )

In [7]:
SELECT CONCAT(E.LastName,' ',E.FirstName) as Proveedor FROM Employees E WHERE City 
IN (SELECT City FROM Customers WHERE CustomerID IN (SELECT CustomerID FROM Orders))

Proveedor
Davolio Nancy
Leverling Janet
Buchanan Steven
Suyama Michael
King Robert
Callahan Laura
Dodsworth Anne

## 5 ##
Obtenga el producto mas caro de cada proveedor

In [5]:
SELECT S.CompanyName as Proveedor ,P.ProductName as [Producto más caro],P.UnitPrice as Precio  from Products P, Suppliers S
WHERE S.SupplierID=P.SupplierID AND P.UnitPrice =( SELECT MAX(UnitPrice) from Products P where P.SupplierID=S.SupplierID)
ORDER BY S.CompanyName ASC

Proveedor,Producto más caro,Precio
Aux joyeux ecclésiastiques,Côte de Blaye,263.5000
Bigfoot Breweries,Steeleye Stout,18.0000
Cooperativa de Quesos 'Las Cabras',Queso Manchego La Pastora,38.0000
Escargots Nouveaux,Escargots de Bourgogne,13.2500
Exotic Liquids,Chang,19.0000
Forêts d'érables,Tarte au sucre,49.3000
Formaggi Fortini s.r.l.,Mozzarella di Giovanni,34.8000
Gai pâturage,Raclette Courdavault,55.0000
"G'day, Mate",Manjimup Dried Apples,53.0000
Grandma Kelly's Homestead,Northwoods Cranberry Sauce,40.0000
Heli Süßwaren GmbH & Co. KG,Schoggi Schokolade,43.9000
Karkki Oy,Maxilaku,20.0000
Leka Trading,Ipoh Coffee,46.0000
Lyngbysild,Spegesild,12.0000
Ma Maison,Pâté chinois,24.0000
Mayumi's,Tofu,23.2500
New England Seafood Cannery,Boston Crab Meat,18.4000
New Orleans Cajun Delights,Chef Anton's Cajun Seasoning,22.0000
Nord-Ost-Fisch Handelsgesellschaft mbH,Nord-Ost Matjeshering,25.8900
Norske Meierier,Gudbrandsdalsost,36.0000
Pasta Buttini s.r.l.,Gnocchi di nonna Alice,38.0000
"Pavlova, Ltd.",Carnarvon Tigers,62.5000
PB Knäckebröd AB,Gustaf's Knäckebröd,21.0000
Plutzer Lebensmittelgroßmärkte AG,Thüringer Rostbratwurst,123.7900
Refrescos Americanas LTDA,Guaraná Fantástica,4.5000
"Specialty Biscuits, Ltd.",Sir Rodney's Marmalade,81.0000
Svensk Sjöföda AB,Gravad lax,26.0000
Tokyo Traders,Mishi Kobe Niku,97.0000
Zaanse Snoepfabriek,Chocolade,12.7500

## 6 ## 
Encuentre el nombre de las ciudades donde tenemos mas de 2 clientes

In [6]:
SELECT City as Ciudad, COUNT(*) as [Total Clientes] FROM Customers
GROUP BY City
HAVING COUNT(*)>2

Ciudad,Total Clientes
Buenos Aires,3
London,6
Madrid,3
México D.F.,5
Rio de Janeiro,3
Sao Paulo,4