# Ejercicios de sub consultas #
Resuelva las siguientes necesidades de información de la base de datos Northwind usando subconsultas
## 1 ##
Obtenga el nombre de los vendedores que durante el mes de junio de 1996 vendieron abajo del vendedor promedio

In [4]:
WITH VtasXEmp(EmpId,VtasJun97)
as(
SELECT EmployeeID, SUM((UnitPrice*Quantity)*(1-Discount)) from [Order Details] od
JOIN ORDERS o on o.OrderID=od.OrderID
WHERE YEAR(OrderDate)=1997 AND Month(OrderDate)=6
GROUP BY EmployeeID
)




SELECT V.EmpId,E.LASTNAME, E.FIRSTNAme, V.VtasJun97 FROM Employees E
INNER JOIN VtasXEmp V ON V.EmpId = E.EmployeeID
WHERE VtasJun97 < (SELECT AVG(VtasJun97) FROM VtasXEmp);

EmpId,LASTNAME,FIRSTNAme,VtasJun97
5,Buchanan,Steven,3037.39999389648
6,Suyama,Michael,3464.81000518799
7,King,Robert,2082
8,Callahan,Laura,2262.91247558594
9,Dodsworth,Anne,3482.5

## 2 ##
Obtenga el nombre de los vendedores que hicieron ordenes el día 11 de marzo de 1998

In [5]:
SELECT EmployeeID AS [Id Empleado], CONCAT(LastName,' ',FirstName) AS Nombre FROM Employees
WHERE EmployeeID IN (SELECT EmployeeID FROM Orders WHERE OrderDate='19980311')

Id Empleado,Nombre
4,Peacock Margaret
7,King Robert
8,Callahan Laura
9,Dodsworth Anne

## 3 ## 
Obtenga el nombre de los vendedores que hicieron ordenes el día que se realizaron mas ventas

In [6]:
WITH VentasDiarias(dia,ventas)
as ( 
    select OrderDate,COUNT(*) from orders 
    group by orderDate
)


SELECT EmployeeID,LastName,FirstName from Employees WHERE EmployeeID 
    in (SELECT EmployeeID from Orders where OrderDate 
        in (SELECT dia from VentasDiarias where ventas = (Select MAX(ventas) from VentasDiarias)));

EmployeeID,LastName,FirstName
1,Davolio,Nancy
2,Fuller,Andrew
3,Leverling,Janet
4,Peacock,Margaret

## 4 ##
Obtenga el nombre de los vendedores que viven en la misma ciudad de al menos uno de sus clientes ( es su cliente si le ha vendido al menos una vez )

In [17]:
SELECT CONCAT(E.LastName,' ',E.FirstName) FROM Employees E WHERE City IN (SELECT City FROM Customers WHERE CustomerID IN (SELECT CustomerID FROM Orders))

SELECT DISTINCT C.CustomerID , E.LastName FROM Customers C 
INNER JOIN  Orders O ON O.CustomerID = C.CustomerID
INNER JOIN Employees E ON E.EmployeeID = O.EmployeeID
WHERE COUNT IN (SELECT OrderID FROM ORDERS WHERE CustomerID IN (SELECT CustomerID fROM Customers))

: Msg 207, Level 16, State 1, Line 6
Invalid column name 'COUNT'.

## 5 ##
Obtenga el producto mas caro de cada proveedor

In [16]:
--SELECT ProductID, ProductName,UnitPrice, SupplierID FROM PRODUCTS WHERE UnitPrice 
--IN (SELECT MAX(UnitPrice) FROM PRODUCTS  WHERE SupplierID IN (SELECT SupplierID FROM Suppliers))

SELECT S.SupplierID, S.CompanyName, UnitPrice FROM Suppliers S 
INNER JOIN Products P ON P.SupplierID = S.SupplierID
WHERE S.SupplierID IN (SELECT SupplierID FROM Products )

SupplierID,CompanyName,UnitPrice
1,Exotic Liquids,18.0000
1,Exotic Liquids,19.0000
1,Exotic Liquids,10.0000
2,New Orleans Cajun Delights,22.0000
2,New Orleans Cajun Delights,21.3500
2,New Orleans Cajun Delights,21.0500
2,New Orleans Cajun Delights,17.0000
3,Grandma Kelly's Homestead,25.0000
3,Grandma Kelly's Homestead,30.0000
3,Grandma Kelly's Homestead,40.0000
4,Tokyo Traders,97.0000
4,Tokyo Traders,31.0000
4,Tokyo Traders,10.0000
5,Cooperativa de Quesos 'Las Cabras',21.0000
5,Cooperativa de Quesos 'Las Cabras',38.0000
6,Mayumi's,6.0000
6,Mayumi's,23.2500
6,Mayumi's,15.5000
7,"Pavlova, Ltd.",17.4500
7,"Pavlova, Ltd.",39.0000
7,"Pavlova, Ltd.",62.5000
7,"Pavlova, Ltd.",43.9000
7,"Pavlova, Ltd.",15.0000
8,"Specialty Biscuits, Ltd.",12.5000
8,"Specialty Biscuits, Ltd.",9.2000
8,"Specialty Biscuits, Ltd.",81.0000
8,"Specialty Biscuits, Ltd.",10.0000
9,PB Knäckebröd AB,21.0000
9,PB Knäckebröd AB,9.0000
10,Refrescos Americanas LTDA,4.5000
11,Heli Süßwaren GmbH & Co. KG,14.0000
11,Heli Süßwaren GmbH & Co. KG,31.2300
11,Heli Süßwaren GmbH & Co. KG,43.9000
12,Plutzer Lebensmittelgroßmärkte AG,45.6000
12,Plutzer Lebensmittelgroßmärkte AG,123.7900
12,Plutzer Lebensmittelgroßmärkte AG,33.2500
12,Plutzer Lebensmittelgroßmärkte AG,7.7500
12,Plutzer Lebensmittelgroßmärkte AG,13.0000
13,Nord-Ost-Fisch Handelsgesellschaft mbH,25.8900
14,Formaggi Fortini s.r.l.,12.5000
14,Formaggi Fortini s.r.l.,32.0000
14,Formaggi Fortini s.r.l.,34.8000
15,Norske Meierier,36.0000
15,Norske Meierier,21.5000
15,Norske Meierier,2.5000
16,Bigfoot Breweries,14.0000
16,Bigfoot Breweries,18.0000
16,Bigfoot Breweries,14.0000
17,Svensk Sjöföda AB,15.0000
17,Svensk Sjöföda AB,19.0000
17,Svensk Sjöföda AB,26.0000
18,Aux joyeux ecclésiastiques,263.5000
18,Aux joyeux ecclésiastiques,18.0000
19,New England Seafood Cannery,18.4000
19,New England Seafood Cannery,9.6500
20,Leka Trading,14.0000
20,Leka Trading,46.0000
20,Leka Trading,19.4500
21,Lyngbysild,9.5000
21,Lyngbysild,12.0000
22,Zaanse Snoepfabriek,9.5000
22,Zaanse Snoepfabriek,12.7500
23,Karkki Oy,20.0000
23,Karkki Oy,16.2500
23,Karkki Oy,18.0000
24,"G'day, Mate",53.0000
24,"G'day, Mate",7.0000
24,"G'day, Mate",32.8000
25,Ma Maison,7.4500
25,Ma Maison,24.0000
25,Ma Maison,0.0000
26,Pasta Buttini s.r.l.,38.0000
26,Pasta Buttini s.r.l.,19.5000
27,Escargots Nouveaux,13.2500
28,Gai pâturage,55.0000
28,Gai pâturage,34.0000
29,Forêts d'érables,28.5000
29,Forêts d'érables,49.3000

## 6 ## 
Encuentre el nombre de las ciudades donde tenemos mas de 2 clientes

: Msg 156, Level 15, State 1, Line 1
Incorrect syntax near the keyword 'SELECT'.

: Msg 102, Level 15, State 1, Line 1
Incorrect syntax near ')'.