# Jugando #

Determine en donde pasará San Valentín los empleados de Northwind

In [1]:
use northwind
DECLARE @mesactividad 
    as TABLE ( 
        mes int, 
        actividad varchar(40) 
        )

DECLARE @inicialpersona 
    as TABLE ( 
        inicial CHAR(1), 
        persona varchar(40) 
        )

INSERT INTO  @mesactividad
    VALUES
        (1, 'Jugando maincra con'),
        (2, 'Explorando el Amazonas con'),
        (3, 'Bañando los perros de'),
        (4, 'Perseguido por'),
        (5, 'En la cárcel por matar a'),
        (6, 'Pintando la casa de'),
        (7, 'Contando chistes con'),
        (8, 'Enseñando Java a'),
        (9, 'En un yate con'),
        (10, 'En el hospital cuidando a'), 
        (11, 'Comiendo con'),
        (12, 'Platicando con')

insert into @inicialpersona
    VALUES
        ('a', 'CR7'),
        ('b', 'Shakira'),
        ('c', 'AuronPlay'),
        ('d', 'Scarlett Johanson'),
        ('e', 'Jessica Jones'),
        ('f', 'Lagertha'),
        ('g', 'Yuya'), 
        ('h', 'Sheldon Cooper'),
        ('i', 'Michael Jordan'),
        ('j', 'Carlos Slim'),
        ('k', 'Donald Trump'),
        ('l', 'Neil deGrasse Tyson'),
        ('m', 'Indiana Jones'),
        ('n', 'Javier Santaolalla'), 
        ('o', 'Henry Cavill'), 
        ('p', 'Beyoncé'),
        ('q', 'Vinton Cerf'),
        ('r', 'Robert Downey Jr.'),
        ('s', 'Hulk'),
        ('t', 'la india Yuriria'),
        ('u', 'Bárbara de Regil'),
        ('v', 'Tokio'),
        ('w', 'Barney Stinson'),
        ('x', 'Chumel Torres'),
        ('y', 'Tulio Treviño'),
        ('z', 'Goku')

SELECT CONCAT(lastname,' ',(SELECT actividad FROM @mesactividad WHERE MONTH(em.BirthDate)=mes),' ',(SELECT persona FROM @inicialpersona WHERE LEFT(em.lastname,1)=inicial)) as [Actividad de San Valentín] FROM Employees as em

Actividad de San Valentín
Davolio Platicando con Scarlett Johanson
Fuller Explorando el Amazonas con Lagertha
Leverling Enseñando Java a Neil deGrasse Tyson
Peacock En un yate con Beyoncé
Buchanan Bañando los perros de Shakira
Suyama Contando chistes con Hulk
King En la cárcel por matar a Donald Trump
Callahan Jugando maincra con AuronPlay
Dodsworth Jugando maincra con Scarlett Johanson

In [15]:
SELECT lastname, BirthDate, left(LastName,1) as Inicial,MONTH(BirthDate) as Mes FROM Employees

lastname,BirthDate,Inicial,Mes
Davolio,1948-12-08 00:00:00.000,D,12
Fuller,1952-02-19 00:00:00.000,F,2
Leverling,1963-08-30 00:00:00.000,L,8
Peacock,1937-09-19 00:00:00.000,P,9
Buchanan,1955-03-04 00:00:00.000,B,3
Suyama,1963-07-02 00:00:00.000,S,7
King,1960-05-29 00:00:00.000,K,5
Callahan,1958-01-09 00:00:00.000,C,1
Dodsworth,1966-01-27 00:00:00.000,D,1

: Msg 102, Level 15, State 1, Line 2
Incorrect syntax near '@inicialPersona'.