In [1]:
use pruebas
GO

create table T1
(
    id int, 
    c  char(1)
)


create table T2
(
    num int, 
    valor  char(1)
)

INSERT T1 (id, c)
    VALUES
    (1, 'A'),
    (2, 'B'),
    (3, 'A'),
    (4, 'C');


INSERT T2 (num, valor)
    VALUES
    (1, 'C'),
    (3, 'D'),
    (3, 'A'),
    (5, 'F');

# Operadores de Conjuntos #
## 1. UNION ##
Obtener el conjunto de todas las filas de T1 y unirlas al conjunto de las filas de T2

In [4]:
 SELECT * FROM T1 UNION SELECT * FROM T2

id,c
1,A
1,C
2,B
3,A
3,D
4,C
5,F

### Opción ALL ###

¿Cual es el efecto de la opcion ALL en la UNION? Realice la misma consulta pero utilice UNION ALL

In [5]:
SELECT * FROM T1 UNION ALL SELECT * FROM T2

id,c
1,A
2,B
3,A
4,C
1,C
3,D
3,A
5,F

**Respuesta**: Muestra la Unión de todas las filas de T1 y T2, aunque haya repeticiones.

### Tuplas como elementos###
Realice la misma consulta pero ahora recupere solo las columnas numericas de ambas tablas ¿ Que sucede y por qué ?

In [6]:
SELECT ID FROM t1 UNION SELECT num FROM T2

ID
1
2
3
4
5

**Respuesta**: Se muestra la union de los datos numericos de ambas tablas (id y num), eliminando la redundancia de valores.

## 2. INTERSECT ##
Obtenga la intersección de ambas tablas

In [7]:
SELECT * FROM T1 INTERSECT SELECT * FROM T2

id,c
3,A

## 3. EXCEPT ##
### 3.1 ###
Obtenga la diferencia entre T1 y T2

In [8]:
SELECT * FROM T1 EXCEPT SELECT * FROM T2

id,c
1,A
2,B
4,C

### 3.2### 
Obtenga los numeros que están en T1 pero no en T2

In [11]:
SELECT id FROM T1 EXCEPT SELECT num FROM T2

id
2
4