# ER to Relational
## Generalización/Especialización
Sea un sistema de Control escolar donde tenemos las entidades Alumnos (Nombre, Apellidos, Telefono, Control, Preparatoria de Origen ), Docentes (Nombre, Apellidos, Titulo, Departamento Academico, Telefono), Administrativos (Nombre, Apellidos, Telefono, Puesto).

Se ha decidido hacer una generalización Persona ( PersonaID, Nombre, Apellidos, Telefono), quedando las entidades anteriores como Alumnos (Control, Preparatoria de Origen ), Docentes (Titulo, Departamento Academico), Administrativos (Puesto).

<img src=generalizacion.png/>
Para crear las tablas en nuestro modelo aplicamos el paso 8 de nuestro procedimiento.
Veamos como queda con las diferentes opciones

[Prueba](generalizacion.png)

In [4]:
USE master
IF EXISTS 
   (
     SELECT name FROM master.dbo.sysdatabases 
     WHERE name = 'PruebasGeneralizacion'
    )
    DROP DATABASE PruebasGeneralizacion
GO

CREATE DATABASE PruebasGeneralizacion
GO

use PruebasGeneralizacion

# 8a: Relaciones para la clase padre y para las subclases

Creamos la tabla para la clase padre `Persona8a`:

In [5]:
CREATE TABLE Persona8a
(
    PersonaID INT PRIMARY KEY, 
    Nombre NVARCHAR(60), 
    Apellidos NVARCHAR(60),
    Telefono CHAR(15)
)

Se crea una tabla para cada subclase, donde la llave primaria de la clase padre será llave foránea y primaria

In [6]:
CREATE TABLE Alumnos8a
(
    PersonaID INT FOREIGN KEY REFERENCES Persona8a(PersonaID) PRIMARY KEY,
    Control CHAR(8),
    PreparatoriaOrigen VARCHAR(30)
)

Cuando se quiera añadir una instancia de Alumno, primero se tiene que añadir sus datos a la tabla `Persona8a` y luego a la tabla `Alumnos8a` usando el mismo `PersonaID`. Por ejemplo para *Juan Álvarez Tzul*, con numero de control *20171203* y teléfono *(667)363-2455* :

In [7]:
INSERT INTO Persona8a (PersonaID, Nombre, Apellidos, Telefono) 
    values ( 45, 'Juan', 'Álvarez Tzul', '(667)363-2455')
INSERT INTO Alumnos8a (PersonaID, Control, PreparatoriaOrigen)
    values ( 45, '20171203', 'Cobaes 23')

Agregue las tablas para las subclases restantes

In [8]:
CREATE TABLE Docentes8a
(
   PersonaID INT FOREIGN KEY REFERENCES Persona8a(PersonaID) PRIMARY KEY,
   Titulo VARCHAR(8),
   Departamento Varchar(30)
)

In [9]:
CREATE TABLE Administrativos8a
(
    PersonaID INT FOREIGN KEY REFERENCES Persona8a(PersonaID) PRIMARY KEY,
    Puesto VARCHAR(30)
)

Agregue datos a las tablas: 
El I.B.Q. Fernando Pérez Jiménez, con teléfono 6671123456, adscrito a Bioquímica 
El señor Juan Izábal Mejía, con teléfono 6672345123, encargado del laboratorio de Operaciones Unitarias

In [10]:
INSERT INTO Persona8a(PersonaID, Nombre, Apellidos, Telefono) VALUES
 (1,'Fernando','Pérez Jiménez','(667)1123456'),
 (2,'Juan','Izábal Mejía','(667)2345123')

In [11]:
INSERT INTO Docentes8a (PersonaID,Titulo,Departamento) VALUES (1,'I.B.Q','Bioquímica')

In [12]:
INSERT INTO Administrativos8a (PersonaID,Puesto) VALUES (2,'Lab.Operaciones Unitarias')

In [13]:
SELECT * from Persona8a P INNER JOIN Alumnos8a A on P.personaID=A.personaID

SELECT * from Persona8a  P INNER JOIN Docentes8a D on P.personaID=D.personaID

SELECT * from Persona8a  P INNER JOIN Administrativos8a Ad on P.personaID=Ad.personaID

PersonaID,Nombre,Apellidos,Telefono,PersonaID,Control,PreparatoriaOrigen
45,Juan,Álvarez Tzul,(667)363-2455,45,20171203,Cobaes 23

PersonaID,Nombre,Apellidos,Telefono,PersonaID,Titulo,Departamento
1,Fernando,Pérez Jiménez,(667)1123456,1,I.B.Q,Bioquímica

PersonaID,Nombre,Apellidos,Telefono,PersonaID,Puesto
2,Juan,Izábal Mejía,(667)2345123,2,Lab.Operaciones Unitarias

¿Que sucede si nos cambian las restricciones y un Docente puede también ser alumno (de posgrado)?

In [14]:
INSERT INTO Alumnos8a (PersonaID,Control,PreparatoriaOrigen) VALUES(1,15152452,'Cobaes')

In [15]:
SELECT * FROM Alumnos8a

PersonaID,Control,PreparatoriaOrigen
1,15152452,Cobaes
45,20171203,Cobaes 23

Respuesta: Es posible que un docente sea un alumno al mismo tiempo, ya que no hay restricciones existentes que lo niegen, ya que para ser un Alumno necesitas estar registrado como Persona, igual que Docente.

Y ¿si quiero agregar personas ajenas a la institución sin modificar mi esquema?

In [16]:
INSERT INTO Persona8a (PersonaID,Nombre,Apellidos,Telefono) VALUES(23,'Daniel','Campos','6674234330')

Respuesta:
Es posible añadirlas solamente a la table de Alumnos8a, ya que no tiene los datos necesarios para hacer una especificación.

# 8b. Multiples relaciones, solo las subclases

Las subclases son totales y disjuntas

In [17]:
CREATE TABLE Alumnos8b
(
    PersonaID INT PRIMARY KEY,
    Nombre NVARCHAR(60), 
    Apellidos NVARCHAR(60),
    Telefono CHAR(15),
    Control CHAR(8),
    PreparatoriaOrigen VARCHAR(30)
)

--Agregue las tablas para Docentes y Administrativos y datos en las 3 tablas

In [18]:
--Creación Tabla Docentes
CREATE TABLE Docentes8b
(
PersonaID INT PRIMARY KEY,
Nombre NVARCHAR(60),
Apellidos NVARCHAR(60),
Telefono Char(15),
Titulo VARCHAR(8),
Departamento Varchar(30)
)

In [19]:
--Creación Tabla Administrativos
CREATE TABLE Administrativos8b
(
    PersonaID INT PRIMARY KEY,
    Nombre NVARCHAR(60),
    Apellidos NVARCHAR(60),
    Telefono Char(15),
    Puesto VARCHAR(30)
)

¿Que sucede si nos cambian las restricciones y un Docente puede también ser alumno (de posgrado)?

In [23]:
DELETE Docentes8b
DELETE Alumnos8b
INSERT INTO Docentes8b(PersonaID,Nombre,Apellidos,Telefono,Titulo,Departamento) VALUES(12,'Juan','Perez','6658956321','Geologia','Economia')
INSERT INTO Alumnos8b(PersonaId,Nombre,Apellidos,Telefono,Control,PreparatoriaOrigen) VALUES (12,'Juan','Perez','6658956321',12563212,'Cetis 107')

Respuesta:
Es posible la inserción de una misma persona en diferentes tablas, ya que no dependen de otra tabla para que haya una violacion de Primary Key.

# 8c. Una sola relación con un atributo `TIPO`

Para cuando las subclases son disjuntas

In [16]:
-- Crear las tablas
CREATE TABLE PersonasTp ( 
    PersonaID INT PRIMARY KEY,
    Nombre NVARCHAR(60) NOT NULL,
    Apellidos NVARCHAR(60) NOT NULL,
    Telefono CHAR(15) NOT NULL,
    Tipo CHAR(2) NOT NULL,
    Control CHAR(8) ,
    PrepaOrigen NVARCHAR(20),
    Titulo NVARCHAR(8),
    DeptoAcad NVARCHAR(30) ,
    Puesto NVARCHAR(30) 
)

In [24]:
ALTER TABLE PersonasTp ALTER COLUMN Titulo NVARCHAR(20)

In [28]:

INSERT INTO PersonasTp(PersonaID,Nombre,Apellidos,Telefono,Tipo,Control,PrepaOrigen)
VALUES(56,'Alberto','Camacho','6674589652','AL',212,'CETIS 107')
INSERT INTO PersonasTp(PersonaID,Nombre,Apellidos,Telefono,Tipo,Titulo,DeptoAcad)
VALUES(25,'Eduardo','Chavez','6674845963','DO','Ing. TICS','Sistemas- TICs')
INSERT INTO PersonasTp(PersonaID,Nombre,Apellidos,Telefono,Tipo,Puesto)
VALUES(59,'Paola','Sandoval','662458569','AD','Jefa de Docencia')

In [29]:
SELECT * FROM PersonasTp

PersonaID,Nombre,Apellidos,Telefono,Tipo,Control,PrepaOrigen,Titulo,DeptoAcad,Puesto
25,Eduardo,Chavez,6674845963,DO,NULL,NULL,Ing. TICS,Sistemas- TICs,NULL
56,Alberto,Camacho,6674589652,AL,212,CETIS 107,NULL,NULL,NULL
59,Paola,Sandoval,662458569,AD,NULL,NULL,NULL,NULL,Jefa de Docencia

# 8d. Una sola relación con varios atributos `TIPO`

Para cuando las subclases se traslapan. Puede funcionar también si son disjuntas.

In [34]:
--Haz magia

CREATE TABLE PersonasTp2 ( 
    PersonaID INT PRIMARY KEY,
    Nombre NVARCHAR(60) NOT NULL,
    Apellidos NVARCHAR(60) NOT NULL,
    Telefono CHAR(15) NOT NULL,
    EsAlumno CHAR(2),
    Control CHAR(8) ,
    PrepaOrigen NVARCHAR(20),
    EsDocente CHAR(2),
    Titulo NVARCHAR(25),
    DeptoAcad NVARCHAR(30) ,
    EsAdmin CHAR(2),
    Puesto NVARCHAR(30) 
)

In [36]:
INSERT INTO PersonasTp2(PersonaID,Nombre,Apellidos,Telefono,EsAlumno,Control,PrepaOrigen)
VALUES(56,'Alberto','Camacho','6674589652','SI',212,'CETIS 107')
INSERT INTO PersonasTp2(PersonaID,Nombre,Apellidos,Telefono,EsDocente,Titulo,DeptoAcad)
VALUES(25,'Eduardo','Chavez','6674845963','SI','Ing. TICS','Sistemas- TICs')
INSERT INTO PersonasTp2(PersonaID,Nombre,Apellidos,Telefono,EsAdmin,Puesto)
VALUES(59,'Paola','Sandoval','662458569','SI','Jefa de Docencia')

In [38]:
SELECT * FROM PersonasTp2

PersonaID,Nombre,Apellidos,Telefono,EsAlumno,Control,PrepaOrigen,EsDocente,Titulo,DeptoAcad,EsAdmin,Puesto
25,Eduardo,Chavez,6674845963,NULL,NULL,NULL,SI,Ing. TICS,Sistemas- TICs,NULL,NULL
56,Alberto,Camacho,6674589652,SI,212,CETIS 107,NULL,NULL,NULL,NULL,NULL
59,Paola,Sandoval,662458569,NULL,NULL,NULL,NULL,NULL,NULL,SI,Jefa de Docencia