# Operaciones con conjuntos #

## Pizza Time!! ##

In [1]:
CREATE DATABASE pizzeria
GO

use pizzeria
GO

create table [serves] (
[pizzeria] [nvarchar] (50),
[pizza] [nvarchar] (50),
[price] [money]);


insert [serves] ([pizzeria],[pizza],[price])
values 
( 'Pizza Hut','pepperoni',12.0000 ),
( 'Pizza Hut','sausage',12.0000 ),
( 'Pizza Hut','cheese',9.0000 ),
( 'Pizza Hut','supreme',12.0000 ),
( 'Little Caesars','pepperoni',10.0000 ),
( 'Little Caesars','sausage',10.0000 ),
( 'Little Caesars','cheese',7.0000 ),
( 'Little Caesars','mushroom',9.0000 ),
( 'Dominos','cheese',10.0000 ),
( 'Dominos','mushroom',11.0000 ),
( 'Straw Hat','pepperoni',8.0000 ),
( 'Straw Hat','cheese',9.0000 ),
( 'Straw Hat','sausage',10.0000 ),
( 'New York Pizza','pepperoni',8.0000 ),
( 'New York Pizza','cheese',7.0000 ),
( 'New York Pizza','supreme',9.0000 ),
( 'Chicago Pizza','cheese',8.0000 ),
( 'Chicago Pizza','supreme',9.0000);

create table [eats] (
[name] [nvarchar] (50),
[pizza] [nvarchar] (50));

insert [eats] ([name],[pizza])
values
( 'Amy','pepperoni' ),
( 'Amy','mushroom' ),
( 'Ben','pepperoni' ),
( 'Ben','cheese' ),
( 'Cal','supreme' ),
( 'Dan','pepperoni' ),
( 'Dan','cheese' ),
( 'Dan','sausage' ),
( 'Dan','supreme' ),
( 'Dan','mushroom' ),
( 'Eli','supreme' ),
( 'Eli','cheese' ),
( 'Fay','mushroom' ),
( 'Gus','mushroom' ),
( 'Gus','supreme' ),
( 'Gus','cheese' ),
( 'Hil','supreme' ),
( 'Hil','cheese' ),
( 'Ian','supreme' ),
( 'Ian','pepperoni');

create table [frequents] (
[name] [nvarchar] (50),
[pizzeria] [nvarchar] (50));


insert [frequents] ([name],[pizzeria])
values
( 'Amy','Pizza Hut' ),
( 'Ben','Pizza Hut' ),
( 'Ben','Chicago Pizza' ),
( 'Cal','Straw Hat' ),
( 'Cal','New York Pizza' ),
( 'Dan','Straw Hat' ),
( 'Dan','New York Pizza' ),
( 'Eli','Straw Hat' ),
( 'Eli','Chicago Pizza' ),
( 'Fay','Dominos' ),
( 'Fay','Little Caesars' ),
( 'Gus','Chicago Pizza' ),
( 'Gus','Pizza Hut' ),
( 'Hil','Dominos' ),
( 'Hil','Straw Hat' ),
( 'Hil','Pizza Hut' ),
( 'Ian','New York Pizza' ),
( 'Ian','Straw Hat' ),
( 'Ian','Dominos');

create table [person] (
[name] [nvarchar] (50),
[age] [tinyint],
[gender] [nvarchar] (50));


insert [person] ([name],[age],[gender])
values 
( 'Amy',16,'female' ),
( 'Ben',21,'male' ),
( 'Cal',33,'male' ),
( 'Dan',13,'male' ),
( 'Eli',45,'male' ),
( 'Fay',21,'female' ),
( 'Gus',24,'male' ),
( 'Hil',30,'female' ),
( 'Ian',18,'male');

: Msg 1801, Level 16, State 3, Line 1
Database 'pizzeria' already exists. Choose a different database name.

: Msg 2714, Level 16, State 6, Line 7
There is already an object named 'serves' in the database.

In [9]:
use pizzeria

## 1 ## 
Nombre de las personas con edad menor que 40 años que solamente comen pizzas ´suppreme´.

In [2]:
--Correcto--
SELECT P.name from person P
JOIN eats E on E.name=P.NAME
WHERE P.age<40 AND E.pizza='supreme' EXCEPT SELECT name from eats where pizza!='supreme'

name
Cal

## 2 ##
Nombre de las pizzerías que solamente sirven pizzas con precio mayor que 10.

In [3]:
--Correcto--
SELECT DISTINCT pizzeria from serves
    where price>10 EXCEPT SELECT pizzeria from serves WHERE price<10

pizzeria
Dominos

## 3 ##
Nombre de las pizzerías que son frecuentadas solamente por personas mayores de 18 años.

In [4]:
--Correcto--
SELECT F.pizzeria from Frequents F
    JOIN Person P on F.name=P.NAME
    WHERE P.age>18
        EXCEPT SELECT F.pizzeria from Frequents F 
            JOIN Person P on F.name=P.NAME
            WHERE P.age<=18
ORDER BY F.pizzeria

pizzeria
Chicago Pizza
Little Caesars

## 4 ##
Mostrar el nombre de las personas con la edad mayor que comen pizza de peperoni.

In [5]:
--Mayores de Edad o El mayor de las personas--
SELECT name from Eats WHERE pizza='pepperoni' 
    INTERSECT SELECT name from person where age>=18

name
Ben
Ian

## 5 ##
Mostrar el nombre de las personas con la edad menor que comen en la pizzería chicago pizza.

In [6]:
--En duda, hasta ahorita correcto--
SELECT DISTINCT name from Person WHERE age in (SELECT MIN(age) FROM person) INTERSECT SELECT name from Eats WHERE pizza='Chicago Pizza'

## 6 ##
Mostrar las pizzas cuyo costo es mayor que 10 o que comen en común Eli y Gus.

In [29]:
SELECT DISTINCT S.pizza from Serves S
JOIN Eats E ON S.pizza=E.pizza
JOIN Eats E2 ON S.pizza=E2.pizza
WHERE (E.name='Gus' AND E2.name='Eli')
UNION SELECT pizza from Serves where price>10

pizza
cheese
mushroom
pepperoni
sausage
supreme

## 7 ## 
Mostrar el nombres de las personas que no comen pizzas de ´cheese´

In [63]:
SELECT name from Eats EXCEPT SELECT name from Eats WHERe pizza='Cheese'

name
Amy
Cal
Fay
Ian

## 8 ## 
Mostrar las pizzas cuyo costo es mayor que 10 y que comen Eli y Gus.

In [30]:
SELECT DISTINCT S.pizza from Serves S
JOIN Eats E ON S.pizza=E.pizza
JOIN Eats E2 ON S.pizza=E2.pizza
WHERE (E.name='Gus' AND E2.name='Eli')
INTERSECT SELECT pizza from Serves where price>10

pizza
supreme

pizza
supreme

## 9 ##
Mostrar las pizzerías que solamente sirven a personas mayores de 30 años.

In [12]:
Select DISTINCT S.pizzeria from serves S
    JOIN frequents E on E.pizzeria=S.pizzeria
    JOIN Person P on P.name=E.NAME
    Where P.age>30 
    EXCEPT
    SELECT S.pizzeria from serves S JOIN Frequents E on E.pizzeria=S.pizzeria
    JOIN Person P on P.name=E.NAME
    Where P.age<30

## 10 ##
Mostrar el nombre de la pizza mas barata.

In [13]:

SELECT pizza,price from Serves INTERSECT SELECT pizza,price from Serves WHERE price in (SELECT MIN(price) from serves)

pizza,price
cheese,7.0000