# Operaciones con conjuntos #

## Pizza Time!! ##

In [1]:
CREATE DATABASE pizzeria
GO

use pizzeria
GO

create table [serves] (
[pizzeria] [nvarchar] (50),
[pizza] [nvarchar] (50),
[price] [money]);


insert [serves] ([pizzeria],[pizza],[price])
values 
( 'Pizza Hut','pepperoni',12.0000 ),
( 'Pizza Hut','sausage',12.0000 ),
( 'Pizza Hut','cheese',9.0000 ),
( 'Pizza Hut','supreme',12.0000 ),
( 'Little Caesars','pepperoni',10.0000 ),
( 'Little Caesars','sausage',10.0000 ),
( 'Little Caesars','cheese',7.0000 ),
( 'Little Caesars','mushroom',9.0000 ),
( 'Dominos','cheese',10.0000 ),
( 'Dominos','mushroom',11.0000 ),
( 'Straw Hat','pepperoni',8.0000 ),
( 'Straw Hat','cheese',9.0000 ),
( 'Straw Hat','sausage',10.0000 ),
( 'New York Pizza','pepperoni',8.0000 ),
( 'New York Pizza','cheese',7.0000 ),
( 'New York Pizza','supreme',9.0000 ),
( 'Chicago Pizza','cheese',8.0000 ),
( 'Chicago Pizza','supreme',9.0000);

create table [eats] (
[name] [nvarchar] (50),
[pizza] [nvarchar] (50));

insert [eats] ([name],[pizza])
values
( 'Amy','pepperoni' ),
( 'Amy','mushroom' ),
( 'Ben','pepperoni' ),
( 'Ben','cheese' ),
( 'Cal','supreme' ),
( 'Dan','pepperoni' ),
( 'Dan','cheese' ),
( 'Dan','sausage' ),
( 'Dan','supreme' ),
( 'Dan','mushroom' ),
( 'Eli','supreme' ),
( 'Eli','cheese' ),
( 'Fay','mushroom' ),
( 'Gus','mushroom' ),
( 'Gus','supreme' ),
( 'Gus','cheese' ),
( 'Hil','supreme' ),
( 'Hil','cheese' ),
( 'Ian','supreme' ),
( 'Ian','pepperoni');

create table [frequents] (
[name] [nvarchar] (50),
[pizzeria] [nvarchar] (50));


insert [frequents] ([name],[pizzeria])
values
( 'Amy','Pizza Hut' ),
( 'Ben','Pizza Hut' ),
( 'Ben','Chicago Pizza' ),
( 'Cal','Straw Hat' ),
( 'Cal','New York Pizza' ),
( 'Dan','Straw Hat' ),
( 'Dan','New York Pizza' ),
( 'Eli','Straw Hat' ),
( 'Eli','Chicago Pizza' ),
( 'Fay','Dominos' ),
( 'Fay','Little Caesars' ),
( 'Gus','Chicago Pizza' ),
( 'Gus','Pizza Hut' ),
( 'Hil','Dominos' ),
( 'Hil','Straw Hat' ),
( 'Hil','Pizza Hut' ),
( 'Ian','New York Pizza' ),
( 'Ian','Straw Hat' ),
( 'Ian','Dominos');

create table [person] (
[name] [nvarchar] (50),
[age] [tinyint],
[gender] [nvarchar] (50));


insert [person] ([name],[age],[gender])
values 
( 'Amy',16,'female' ),
( 'Ben',21,'male' ),
( 'Cal',33,'male' ),
( 'Dan',13,'male' ),
( 'Eli',45,'male' ),
( 'Fay',21,'female' ),
( 'Gus',24,'male' ),
( 'Hil',30,'female' ),
( 'Ian',18,'male');

## 1 ## 
Nombre de las personas con edad menor que 40 años que solamente comen pizzas ´suppreme´.

In [4]:
SELECT name  FROM person WHERE age<40
     UNION ALL SELECT pizza  from Eats WHERE pizza ='suppreme'

name
Amy
Ben
Cal
Dan
Fay
Gus
Hil
Ian

## 2 ##
Nombre de las pizzerías que solamente sirven pizzas con precio mayor que 10.

In [5]:
SELECT DISTINCT pizzeria from serves
    where price>10

pizzeria
Dominos
Pizza Hut

## 3 ##
Nombre de las pizzerías que son frecuentadas solamente por personas mayores de 18 años.

In [12]:
SELECT DISTINCT pizzeria FROM Serves UNION SELECT pizzeria from Frequents WHERE name in(SELECT name from Person Where age>18)

pizzeria
Chicago Pizza
Dominos
Little Caesars
New York Pizza
Pizza Hut
Straw Hat

pizzeria
Chicago Pizza
Dominos
Little Caesars
New York Pizza
Pizza Hut
Straw Hat

## 4 ##
Mostrar el nombre de las personas con la edad mayor que comen pizza de peperoni.

In [36]:
SELECT DISTINCT name from Eats WHERE pizza='pepperoni' UNION ALL SELECT name from Person WHERE age IN (select MAX(AGE) FROM PERSON)

name
Amy
Ben
Dan
Ian
Eli

## 5 ##
Mostrar el nombre de las personas con la edad menor que comen en la pizzería chicago pizza.

In [ ]:
SELECT DISTINCT name from Person WHERE age in (SELECT MIN(age) FROM Person) UNION SELECT name from Eats WHERE pizza='chicago pizza'

## 6 ##
Mostrar las pizzas cuyo costo es mayor que 10 o que comen en común Eli y Gus.

In [29]:
SELECT DISTINCT S.pizza from Serves S
JOIN Eats E ON S.pizza=E.pizza
JOIN Eats E2 ON S.pizza=E.pizza
WHERE S.price>10 OR (E.name='Gus' AND E2.name='Eli')

: Msg 156, Level 15, State 1, Line 6
Incorrect syntax near the keyword 'UNION'.

## 7 ## 
Mostrar el nombres de las personas que no comen pizzas de ´cheese´

In [ ]:
SELECT name from Person EXCEPT SELECT name from Eats WHERe pizza='cheese
'

## 8 ## 
Mostrar las pizzas cuyo costo es mayor que 10 y que comen Eli y Gus.

In [ ]:
SELECT DISTINCT S.pizza from Serves S
JOIN Eats E ON S.pizza=E.pizza
JOIN Eats E2 ON S.pizza=E.pizza
WHERE S.price>10  AND (E.name='Gus' AND E2.name='Eli')

## 9 ##
Mostrar las pizzerías que solamente sirven a personas mayores de 30 años.

In [30]:
SELECT S.pizzeria from serves S UNION SELECT pizzeria from frequents F where name in(Select name from Person where age>30)

pizzeria
Chicago Pizza
Dominos
Little Caesars
New York Pizza
Pizza Hut
Straw Hat

## 10 ##
Mostrar el nombre de la pizza mas barata.

In [35]:
SELECT DISTINCT pizza from Serves Where price in (Select Min(price) from Serves)

pizza
cheese